.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
html, body, #root, .app {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 90%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.side {
  flex:30%;
}